#nav_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#recipeContainer {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 250px;
  height: auto;
  border-radius: 10px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}